/********** Base styles **********/
h1 {
    text-align: center;
}

h2{
    text-align: center;
    margin-bottom: 10px;
    margin-top: 10px;
}

div {
    background-color: gray;
    border: 1px solid black;
    margin-bottom: 15px;
    margin-left: 50px;
    margin-right: 50px;
}
p {
    margin-left: 15px;
    margin-right: 15px;
}

.containers {
    margin: 15px 15px 15px 15px;
    float: left;
}
.title {
    margin-top: 0;
    margin-right: 0;
    margin-left: 100%;
    border-top: 0;
    border-right: 0;
    float: right;
    width: 200px;
}

#title1 {
    background-color: #F45735;
}
#title2 {
    background-color: #7bff78;
}
#title3 {
    background-color: #4cddff;
}

/******Large devices only*******/
@media (min-width: 992px) {
    .containers {
        width:29.95%;
    }
}


@media (min-width: 768px) and (max-width: 991px) {

    .containers {
        width: 45%;
    }
    #md-containers {
        width: 93.75%;
    }
    
}
/**********
#p1 {
    background-color: #A52A2A;
    width: 300px;
    height: 300px;
}
#p2 {
    background-color: #DEB887;
    width: 50px;
    height: 50px;
}




@media (min-width: 992px) and (max-width: 1199px) {
    #p1 {
        width: 50%;
    }
    #p2 {
        width: 100px;
        height: 100px;
    }
    body {
        background-color: blue;
    }
}
**********/